h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 20px;
    text-align-last: center;
    font-weight: bold;
    padding: 10px;
    margin: 0px;
}
.carcol
{
  color: black;
}
.center{
  width:40rem;
  margin: auto;
  width: 50%;
}
.navbar-brand{
  margin-left:60px;
}
.form-inline{
  margin-right: 124px;
  display: inline-flex;
}
.bttn{
  float: right;
}
.details{
  display:inline-flex
}
.idetails{
  margin-right: 10px;
  color: gray;
}
#tags{
  display:flex;
  align-items: center;
  justify-content: center;
 
}
.newbtn{
  margin: 2px;
}
.head{
  margin-right: 15px;
  margin-top: 5px;
}
